@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900italic,700italic,900);
@charset "UTF-8";

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;  
    background-color: #FAFAFA;
    color: #212121;
}

.wrapper {
	background-color: #2196F3;
	width:100%;
	height: 233px;
	content: '';
	top:0;
	left:0;
}

h1 {
	margin-bottom:30px;
}
.main {
	display:block;
	overflow:auto;
	position:relative;
  	top:150px;
  	width:50%;
	margin: 0 auto;
	margin-bottom:50px;
	padding:50px 50px 100px 50px;
  	background-color:#ffffff;
  	border-radius:3px;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title {
	width:300px;
	height:300px;
	position:static;
	float:left;
	left:0;
	width:50%
}

.login {
	width:300px;
	height:300px;
	position:static;
	float:right;
}

#loginFailed {
	position:relative;
	padding: 30px 10px 10px 0;
	font-size:12pt;
	color:#D32F2F;
}

fieldset {
	border:none;
}
.content {
	width:300px;
	height:300px;
}

.field {
	position:relative;
	margin-bottom:30px;
}

input[type="submit"] {
	text-transform:uppercase;
	background:none;
	font-size:12pt;
	font-weight:bold;
	line-height:2.5;
	background: #2196F3;
	color:#fff;
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
	border:none;
	border-radius:2px;
	padding: 0 15px;
}

input[type="submit"]:hover {
	cursor:pointer;
	background: #1E88E5;
}

input[type="submit"]:active {
	background: #1976D2;
}

input[type="text"],input[type="password"] {
	padding: 10px 10px 10px 10px;
	border: none;
	border-bottom: 1px solid #B6B6B6;
}

.termslink {
	margin-left:15px;
	text-decoration:none;
	color:#03A9F4;
}

.termslink:hover {
	color: #1E88E5;
}

.termslink:active {
	color: #1976D2;
}
.line {
	position:relative;
	display:block;
	width:300px;
}

label {
	color: #999; 
	display:inline-block;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}
input:focus {
	outline:none;
}
input:focus ~ label, input:valid ~ label {
	top: -20px;
	left: -2px;
	font-size: 14px;
	color: #1E88E5;
}

.line:before, .line:after 	{
  	content:'';
	height:2px; 
  	width:0;
  	bottom:0px; 
  	position:absolute;
  	background:#1E88E5; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.line:before {
	left:50%;
}
.line:after {
	right:50%; 
}

input:focus ~ .line:before, input:focus ~ .line:after {
	width:50%;
}

.terms {
	position:static;
	float:left;
	background-color: #2196F3;
	width:100%;
	height: 90px;
	content: '';
	top:0;
	left:0;
}

.terms h1 {
	color:#fff;
	padding:5px 15px 17px 15px;
}
.terms div {
	padding-left: 15px;
	padding-right:15px;
}

.terms h2 {
	color: #03A9F4;
	margin-top:30px;
}

.terms p, .terms li {
	line-height:1.5;
}

footer {
	font-size:10pt;
	padding-left:15px;
	padding-bottom:5px;
}