@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900italic,700italic,900);
@charset "UTF-8";

body {
    font-family: "Roboto", sans-serif;
    margin : 0;
    padding : 0;
    background-color : #f2f2f2;
    color : #212121;
}
p, ul, ol, li {
    font-size: 10pt;
}

h1 {
    font-size : 14pt;
}

.banner {
    font-weight:300;
    color:#fff;
    top:6px;
    position:absolute;
    left:14%;
}
a {
    text-decoration: none;
}

.user {
    color : #fff;
    font-weight : 300;
    top : 11px;
    right : 15%;
    position : absolute;
}

 [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-ph);
}

h2 {
    font-size: bold 12pt;
}

td{
    padding: 12px;
    padding-left: 0;
    border-spacing: 0;
}

tr{
    max-width:100px;
}

button, input[type=submit], input[type=reset], input[type=button] {
    font-size:12pt;
    background: #2196F3;
    color:#fff;
    border:none;
    border-radius:2px;
    padding: 8px;
    margin-left: 10px;
    text-decoration: none;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    outline:none;
}

button:hover, input[type=submit]:hover,input[type=reset]:hover {
    cursor:pointer;
    background: #1E88E5;
}

button:active, input[type=submit]:active,input[type=reset]:active {
    cursor:pointer;
    background: #1976D2;
}

input[type=text],input[type=email],input[type=password],select{
    padding: 5px 2px 5px 2px;
}


#logoutbtn {
    font-size:12pt;
    line-height:2.5;
    background: #1E88E5;
    color:#fff;
    border:none;
    border-radius:2px;
    padding: 8px;
    margin-left: 10px;
    text-decoration: none;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

#logoutbtn:hover {
    cursor:pointer;
    background: #1976D2;
}

#logoutbtn:active {
    background: #1565C0;
}

table{
    box-shadow: 1px 1px 1px 1px #888888;
}

#rowSubjectNew {
    padding:10px;
    border-bottom: 1px solid #A0A0A0;
}

#rowRecipNew {
    padding:10px;
    border-bottom: 1px solid #A0A0A0;
    border-left: 1px solid #A0A0A0;
}


#buttons td:hover{
    background-color: #C0C0C0;
}

#buttons td{
    padding-left: 10px;
    border : 1px solid #A0A0A0;
    box-shadow: 0px 1px 0px 0px #888888;
    background-color:#D0D0D0;
}

#tableInbox tr:hover{
    background-color: #F0F0F0;
    padding: 0px;    
}

tr:first-child:hover{
    background-color: #FFFFFF;
}

#tableDisplayMsg table{

    max-width: 100px;
}


#header {
    background-color: #2196F3;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    bottom: auto;
}

#leftnavigation {
    color : #000000;
    overflow: visible;
    padding: 0px;
    z-index: 1;
    height: auto;
    top: 112px;
    width: 190px;
    left: 13%;
    bottom : 0px;
    position : absolute;
}

#card {
    text-align:justify;
    color : #000000;
    box-shadow : 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    padding : 20px;
    z-index : 0;
    background-color : #FFFFFF;
    left : 5%;
    right : 5%;
    width : auto;
    overflow : auto;
}

#content {
    text-align:justify;
    top : 112px;
    color : #000000;

    box-shadow : 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    padding : 20px;
    z-index : 0;
    background-color : #FFFFFF;
    position : absolute;
    left : 15%;
    right : 15%;
    margin : 0px 0px 0px 165px;
    width : 56%;
    overflow : auto;
    min-height : 500px;
    margin-bottom : 50px;
}

#content h1, #content h2 {
    color : #02080E;
}

#content-sub {
    width : auto;
    height : auto;
    color : #000000;
    padding-right : 12px;
    padding-left : 5px;
    overflow : auto;
    left : 10%;
    bottom : 0px;
}

#placeholder_cboUsersList{
    left: 200px;
    width : auto;
    height : auto;    
    padding-right : 12px;
    color : #000000;
    overflow : auto;
}

#divNewUser {
    position : auto;
    left: 5%;
    bottom : 0px;
    margin : 0px 0px 0px 10px;
    width : 80%;
    height : auto;
    padding-left : 5px;
    padding-right : 12px;
    color : #000000;
    overflow : auto;
    max-width : 600px;
}

#divForm {
    position : auto;
    left: 5%;
    bottom : 0px;
    margin : 0px 0px 0px 10px;
    width : 80%;
    max-width: 500px;
    height : auto;
    padding-left : 5px;
    padding-right : 12px;
    color : #000000;
    overflow : auto;
}


#divtable {
    position : auto;
    left: 5%;
    bottom : 0px;
    margin : 0px 0px 0px 165px;
    width : auto;
    height : auto;
    padding-left : 5px;
    padding-right : 12px;
    color : #000000;
    overflow : auto;
}
/*
 * NB: Footer not used.
 */
#footer {
    position: fixed;
    width: 100%;
    height: 0px;
    top: auto;
    right: 0;
    bottom: 0;
    margin-left : 10px;
    border-top : 2px solid #cccccc;
}

/* Menu */


.hasChild ul {
    position: absolute;
    left: 160px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 2px 8px 0 rgba(0, 0, 0, 0.32);
    top: -10px;
    background-color: #fff;
}
.haschild ul li {
    display: block;
    width: auto;
    margin: 0;
    white-space: pre;
    padding-left:0;
}

.hasChild ul li a {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 15px;
    width: 100%;
    margin:0;
}
.hasChild:hover ul {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cssmenu {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
    zoom: 1;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
}

.cssmenu ul {
    padding : 0;
    list-style : none;
    line-height : 40px;
    margin: 0 10px;
}

.cssmenu i {
    display:inline-block;
    height:24px;
    float:left;
    margin-top:8px;
}

.cssmenu span{
    padding-left:24px;
}

.cssmenu a {
    display: block;
    text-decoration: none;
}

.active, .active a {
    color : #616161;
}

.cssmenu ul:first-child li a {
    margin-top:0;
}

.cssmenu ul > li:hover > a {
    background: #ebebeb;
}

.cssmenu ul > li > a:active{
    background: #ccc;
}

.cssmenu a {
    border-radius:2px;
    padding-left:10px;
    margin:8px 0;
}

.cssmenu li {
    border-radius: 2px;
    position: relative;
}

.homeIcon {
    color : #535353;
}

.messagesIcon {
    color: #535353;
}

.usersIcon {
    color : #535353;
}

.groupsIcon {
    color : #535353;
}

.reportsIcon {
    color : #535353;
}